$blue: #00ADEE;
$white: rgb(255, 255, 255);
$gray: rgb(136, 136, 136);
$drkGray: rgb(102, 102, 102);
$orange: rgb(255, 140, 0);


@mixin flexAlign() {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: montserrat, sans-serif;
}

#nav-container {
  width: 100%;
  background-color: $blue;

  .nav {
    @include flexAlign;
    margin: 0 auto;
    width: 930px;
    max-width: 930px;
    height: 66px;
    justify-content: space-between;
    background-color: $blue;

    &-left {
      @include flexAlign;

      &-links-container {
        @include flexAlign;
      }

      &-logo {
        padding: 16px 8px 16px 0;
      }
    }

    &-right {
      @include flexAlign;

      button {
        margin-right: 16px;
      }

      .sign-up-btn {
        @include flexAlign;
        height: 30px;
        justify-content: center;
        text-align: center;
        border-radius: 24px;
        background-color: $orange;

        &:hover {
          background-color: rgb(224, 123, 0);
        }
      }
    }

    &-link {
      margin: 0 0.1rem;
      padding: 12px 8px;
      color: $white;
      background: none;
      border: none;
      text-decoration: none;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }
  }

  .link-highlight:hover {
    border-radius: 8px;
    background-color: $white;
    border-radius: 8px;
    color: $blue;
  }

  }
}

//Footer component

  .footer-container {
    display: flex;
    justify-content: center;

    .footer {
      width: 930px;
      max-width: 930px;
      padding: 20px 15px;
      display: flex;
      justify-content: space-between;
      line-height: 1.4;
      -webkit-font-smoothing: antialiased;

      button {
        margin-top: 13px;
        background: none;
        text-decoration: none;
        border: none;
        color: $gray;
        font-size: 12px;
        transition: all 0.2s linear 0s;

        &:hover {
          cursor: pointer;
          color: black;
        }
      }

      h3 {
        text-transform: uppercase;
        color: $drkGray;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
      }

      .learn-more {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .social {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        button {
          margin: 0 0 9px 0;
          padding: 0;
          font-size: 16px;
          color: $drkGray;
          font-weight: bold;
          transition: all 0.2s linear 0s;

          &:hover {
            color: black;
          }
        }

        &-container {
          height: 50px;
          width: 300px;
        }
      }

      .terms {
        max-width: 290px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .large-links-container {
          margin-bottom: 10px;
          font-size: 16px;
          white-space: nowrap;

          button {
            font-size: 16px;
            transition: none;

            &:hover {
              font-weight: bold;
              color: $gray;
            }
          }
        }

        p {
          margin-bottom: 10px;
          font-size: 10px;
          color: $gray;
        }
      }
    }
  }