$blue: #00ADEE;
$white: rgb(255, 255, 255);
$gray: rgb(136, 136, 136);
$drkGray: rgb(102, 102, 102);


@mixin flexAlign() {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: montserrat, sans-serif;
}

#nav-container {
  width: 100%;
  background-color: $blue;

  .nav {
    @include flexAlign;
    margin: 0 auto;
    width: 60%;
    max-width: 950px;
    height: 66px;
    justify-content: space-between;
    background-color: $blue;

    &-left {
      @include flexAlign;

      &-links-container {
        @include flexAlign;
      }

      &-logo {
        padding: 16px 8px 16px 0;
      }
    }

    &-right {
      @include flexAlign;
    }

    &-link {
      margin: 0 0.1rem;
      padding: 12px 8px;
      color: $white;
      background: none;
      border: none;
      text-decoration: none;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }
  }

  .link-highlight:hover {
    border-radius: 8px;
    background-color: $white;
    border-radius: 8px;
    color: $blue;
  }

  }
}

  .footer-container {
    display: flex;
    justify-content: center;

    .footer {
      padding: 20px 15px;
      display: flex;
      justify-content: space-between;

      button {
        margin-top: 13px;
        background: none;
        text-decoration: none;
        border: none;
        color: $gray;
        font-size: 12px;
        transition: all 0.2s linear 0s;

        &:hover {
          cursor: pointer;
          color: black;
        }
      }

      h3 {
        text-transform: uppercase;
        color: $drkGray;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
      }

      .learn-more {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .social {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-container {
          height: 50px;
          width: 300px;
        }
      }

      .terms {
        max-width: 290px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        p {
          font-size: 10px;
          color: $gray;
        }
      }
    }
  }