* {
  margin: 0;
  padding: 0;
  font-family: montserrat, sans-serif;
}

#nav-container {
  width: 100%;
  background-color: #00ADEE;
}

#nav-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 930px;
  max-width: 930px;
  height: 66px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00ADEE;
}

#nav-container .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-container .nav-left-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-container .nav-left-logo {
  padding: 16px 8px 16px 0;
}

#nav-container .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-container .nav-right button {
  margin-right: 16px;
}

#nav-container .nav-right .sign-up-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 24px;
  background-color: darkorange;
}

#nav-container .nav-right .sign-up-btn:hover {
  background-color: #e07b00;
}

#nav-container .nav-link {
  margin: 0 0.1rem;
  padding: 12px 8px;
  color: white;
  background: none;
  border: none;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

#nav-container .nav-link:hover {
  cursor: pointer;
}

#nav-container .nav .link-highlight:hover {
  border-radius: 8px;
  background-color: white;
  border-radius: 8px;
  color: #00ADEE;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container .footer {
  width: 930px;
  max-width: 930px;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

.footer-container .footer button {
  margin-top: 13px;
  background: none;
  text-decoration: none;
  border: none;
  color: #888888;
  font-size: 12px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.footer-container .footer button:hover {
  cursor: pointer;
  color: black;
}

.footer-container .footer h3 {
  text-transform: uppercase;
  color: #666666;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer-container .footer .learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-container .footer .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-container .footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-container .footer .social button {
  margin: 0 0 9px 0;
  padding: 0;
  font-size: 16px;
  color: #666666;
  font-weight: bold;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.footer-container .footer .social button:hover {
  color: black;
}

.footer-container .footer .social-container {
  margin-bottom: 20px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container .footer .social-container button {
  margin-right: 24px;
}

.footer-container .footer .social-container button img {
  height: 32px;
  width: 32px;
}

.footer-container .footer .terms {
  max-width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-container .footer .terms .large-links-container {
  margin-bottom: 10px;
  font-size: 16px;
  white-space: nowrap;
}

.footer-container .footer .terms .large-links-container button {
  font-size: 16px;
  -webkit-transition: none;
  transition: none;
}

.footer-container .footer .terms .large-links-container button:hover {
  font-weight: bold;
  color: #888888;
}

.footer-container .footer .terms p {
  margin-bottom: 10px;
  font-size: 10px;
  color: #888888;
}

.card-container {
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
}

.line {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20px;
  height: 20px;
}

.graph {
  width: 40rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: white;
}

.content {
  min-width: 1500px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container h2 {
  margin-bottom: 4rem;
  color: #666666;
}

.container .input-container {
  width: auto;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .input-container-left {
  margin-right: 6rem;
}

.container .input-container input {
  margin-bottom: 0.5rem;
  padding: 0.1rem 0.5rem;
  width: 8rem;
  height: 1.7rem;
  border: none;
  border-bottom: 1px solid #666666;
  background: none;
  color: black;
  font-size: 1rem;
  font-weight: 200;
}

.container .input-container h4 {
  margin: 0.8rem 0;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #666666;
  font-weight: 400;
}

.container .input-container button {
  margin-top: 2.5rem;
  padding: 0.5rem;
  width: 9rem;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #00ADEE;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  display: block;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.container .input-container button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.report {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 200;
}

.bg-dark {
  padding: 2rem;
  width: 300px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 5px 1px 20px gray;
          box-shadow: 5px 1px 20px gray;
  border-radius: 24px;
  display: flex;
  color: #666666;
  font-family: Montserrat;
  font-size: 1.3rem;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00ADEE;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.box :hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40rem;
  background-color: white;
}

.top-container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 95%;
  height: 95%;
  border-radius: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.calc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3rem;
}

.right-container {
  width: 60%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */