$blue: #00ADEE;
$white: rgb(255, 255, 255);
$gray: rgb(136, 136, 136);
$drkGray: rgb(102, 102, 102);
$orange: rgb(255, 140, 0);
$silver: #F7F7F7;


@mixin flexAlign() {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: montserrat, sans-serif;
}

#nav-container {
  width: 100%;
  background-color: $blue;

  .nav {
    @include flexAlign;
    margin: 0 auto;
    width: 930px;
    max-width: 930px;
    height: 66px;
    justify-content: space-between;
    background-color: $blue;

    &-left {
      @include flexAlign;

      &-links-container {
        @include flexAlign;
      }

      &-logo {
        padding: 16px 8px 16px 0;
      }
    }

    &-right {
      @include flexAlign;

      button {
        margin-right: 16px;
      }

      .sign-up-btn {
        @include flexAlign;
        height: 30px;
        justify-content: center;
        text-align: center;
        border-radius: 24px;
        background-color: $orange;

        &:hover {
          background-color: rgb(224, 123, 0);
        }
      }
    }

    &-link {
      margin: 0 0.1rem;
      padding: 12px 8px;
      color: $white;
      background: none;
      border: none;
      text-decoration: none;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }
  }

  .link-highlight:hover {
    border-radius: 8px;
    background-color: $white;
    border-radius: 8px;
    color: $blue;
  }

  }
}

//Footer component

  .footer-container {
    display: flex;
    justify-content: center;

    .footer {
      width: 930px;
      max-width: 930px;
      padding: 20px 15px;
      display: flex;
      justify-content: space-between;
      line-height: 1.4;
      -webkit-font-smoothing: antialiased;

      button {
        margin-top: 13px;
        background: none;
        text-decoration: none;
        border: none;
        color: $gray;
        font-size: 12px;
        transition: all 0.2s linear 0s;

        &:hover {
          cursor: pointer;
          color: black;
        }
      }

      h3 {
        text-transform: uppercase;
        color: $drkGray;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
      }

      .learn-more {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .social {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        button {
          margin: 0 0 9px 0;
          padding: 0;
          font-size: 16px;
          color: $drkGray;
          font-weight: bold;
          transition: all 0.2s linear 0s;

          &:hover {
            color: black;
          }
        }

        &-container {
          margin-bottom: 20px;
          height: 50px;
          display: flex;

          button {
            margin-right: 24px;

            img {
              height: 32px;
              width: 32px;
            }
          }
        }
      }

      .terms {
        max-width: 290px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .large-links-container {
          margin-bottom: 10px;
          font-size: 16px;
          white-space: nowrap;

          button {
            font-size: 16px;
            transition: none;

            &:hover {
              font-weight: bold;
              color: $gray;
            }
          }
        }

        p {
          margin-bottom: 10px;
          font-size: 10px;
          color: $gray;
        }
      }
    }
  }

  //Card container

.card-container {
  height: 30rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $silver;
}

.line {
justify-content: flex-end;
width: 20px;
height: 20px;
}

.graph {
    width: 40rem;
    align-self: flex-start;
    background-color: white;
}

.content {
    min-width: 1500px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    margin-bottom: 4rem;
    color: $drkGray;
  }

  .input-container {
      width: auto;
      height: 25rem;
      display: flex;

      &-left {
        margin-right: 6rem;
      }
  }

  .input-container input {
      margin-bottom: 0.5rem;
      padding: 0.1rem 0.5rem;
      width: 8rem;
      height: 1.7rem;
      border: none;
      border-bottom: 1px solid $drkGray;
      background: none;
      color: black;
      font-size: 1rem;
      font-weight: 200;
  }

  .input-container h4 {
      margin: 0.8rem 0;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      color: $drkGray;
      font-weight: 400;
  }

  .input-container button {
      margin-top: 2.5rem;
      padding: 0.5rem;
      width: 9rem;
      font-size: 1.1rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      color: #00ADEE;
      background-color: white;
      border: 1px solid white;
      border-radius: 8px;
      display: block;
      box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
      transition: transform 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
  }
}
.report {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    font-weight: 200;

}
.bg-dark {
    padding: 2rem;
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 5px 1px 20px gray;
    border-radius: 24px;
    display: flex;
    color: $drkGray;
    font-family: Montserrat;
    font-size: 1.3rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00ADEE;
    transition: transform .2s;
}

.box :hover {
    transform: scale(1.5);
}

.top-container {
  @include flexAlign;
    width: 100%;
    height: 40rem;
    background-color: $white;

    &-box {
      @include flexAlign;
      margin: 0 auto;
      width: 95%;
      height: 95%;
      border-radius: 24px;
      justify-content: space-between;
      background-color: $white;
      box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }
}

.calc-container {
    @include flexAlign;
    margin-left: 3rem;
}

.right-container {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}